<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>
  <head>
    <meta charset="UTF-8">
    <title>Edit Page</title>
  </head>
  <body>
  <h2>Edit User's Data</h2>
  <br>

  <form th:method="PATCH" th:action="@{/users/{id}/edit (id=${user.getId})}" th:object="${user}">

    <label for="firstName">Enter Name: </label>
    <input type="text" th:field="*{firstName}" id="firstName">

    <br>

    <label for="lastName">Enter Surname: </label>
    <input type="text" th:field="*{lastName}" id="lastName">

    <br>

    <label for="position">Enter Position: </label>
    <input type="text" th:field="*{position}" id="position">

    <br>

    <input type="submit" value="Update User"/>

    <br>

    <button>
      <a th:href="@{/users}">Back to list of users</a>
    </button>

  </form>
  </body>
</html>
