<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>View User</title>
</head>
<body>
<h2>View User</h2>

<br>

<div th:if="${user}">
  <table th:border="1">
    <tr>
      <td>ID</td>
      <td th:utext="${user.id}">...</td>
    </tr>
    <tr>
      <td>First Name</td>
      <td th:utext="${user.firstName}">...</td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td th:utext="${user.lastName}">...</td>
    </tr>
    <tr>
      <td>Position</td>
      <td th:utext="${user.position}">...</td>
    </tr>
  </table>

  <br>

  <button>
    <a th:href="@{{id}/edit (id=${user.getId()})}">Edit User</a>
  </button>

  <br>

  <button>
    <a th:href="@{/users}">Back to User List</a>
  </button>
</div>


</body>
</html>